<div id="logo">
    <%= wicked_pdf_image_tag('eco-logo.png') %>
</div>
<h1>Engineering Calculations</h1>

<div class='project-info'>
  <%= render :partial => 'articles/project_info.html.erb', :formats => [:html] %>
</div>
<div class='system-details'>
  <%= render :partial => 'articles/system_details.html.erb', :formats => [:html] %>
</div>
<div class='design-variables'>
  <%= render :partial => 'articles/design_variables.html.erb', :formats => [:html] %>
</div>
<div class='snow-load'>
  <%= render :partial => 'articles/snow_load.html.erb', :formats => [:html] %>
</div>
<div class='wind-pressure'>
  <%= render :partial => 'articles/wind_pressure.html.erb', :formats => [:html] %>
</div>
<div class='load-combinations'>
  <%= render :partial => 'articles/load_combinations.html.erb', :formats => [:html] %>
</div>
<div class='spacing'>
  <%= render :partial => 'articles/spacing.html.erb', :formats => [:html] %>
</div>


<%= wicked_pdf_stylesheet_link_tag "index" %>